export(O3plot, O3a, sortO3)
import(HDoutliers)
import(ggplot2)
import(dplyr)
import(tidyr)
import(forcats)
import(rlist)
import(utils)
importFrom(HDoutliers, HDoutliers)
importFrom(robustbase, adjOutlyingness)
importFrom(robustX, mvBACON)
importFrom(FastPCS, FastPCS)
importFrom(cellWise, DetectDeviatingCells)
importFrom(stats, reorder)
importFrom(grDevices, boxplot.stats)
importFrom(GGally, ggparcoord)